flask/
flask-app/__pycache__/
flask-app/config.py
flask-app/logs/
flask-app/temp/
flask-app/log/__pycache__/

log_widget/lib
log_widget/*.zip
log_widget/resources/config.properties
log_widget/classes/fm/wmtu/LoggingWidget*.class
