[GENERAL]


[DATABASE]
db_hostname = db.example.com
db_port     = 5433
db_username = 
db_password = 
db_database = song_logs_dev

[TWITTER]
consumer_key        = 
consumer_secret     = 
access_token_key    = 
access_token_secret = 
