# Configuration file

# Misc Options
DELAY_TIME  = "40"
SCROBBLE    = "True"
KEY_API     = "True"
PUB_KEY     = ""
ERR_LOG     = "/opt/log-api/logs/error.log"
TMP_STOR    = "/opt/log-api/temp/"

# Database Connection
DB_HOSTNAME = "db.example.com"
DB_PORT     = ""
DB_USERNAME = ""
DB_PASSWORD = ""
DB_DATABASE = "song_logs"

# Last.FM API Credentials
LAST_FM_API_URL     = "https://ws.audioscrobbler.com/2.0/"
LASTFM_API_KEY      = ""
LASTFM_API_SECRET   = ""
LASTFM_USERNAME     = ""
LASTFM_PASSWORD     = ""

# TuneIn API Credentials
TUNEIN_API_URL      = "https://air.radiotime.com/Playing.ashx"
TUNEIN_PARTNER_ID   = ""
TUNEIN_PARTNER_KEY  = ""
TUNEIN_STATION_ID   = ""

# Icecast2 Stream
ICECAST_URL         = "https://stream.example.com"
ICECAST_MOUNTPOINT  = ""
ICECAST_USERNAME    = ""
ICECAST_PASSWORD    = ""