aniso8601==9.0.1
bpyutils==0.2.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
Flask==2.0.2
Flask-RESTful==0.3.9
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
marshmallow==3.14.1
numpy==1.19.5
pandas==1.1.5
pipupgrade==1.11.0
psycopg2==2.9.3
pylast==4.4.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
six==1.16.0
urllib3==1.26.8
uWSGI==2.0.20
webargs==8.0.1
Werkzeug==2.0.2
